.review-slider-container-unique-name {
    text-align: left;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    width: 90%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 80px;
}

.review-slider-title-unique-name {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #333;
}

.review-slider-description-unique-name {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
}

.review-slider-reviews-container-unique-name {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.review-slider-review-card-unique-name {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 78%;
    margin-bottom: 10px;
    margin-left: 22%;
    margin-right: 5%;
}

.review-slider-review-card-unique-name:nth-child(3) {
    width: 90%;
    margin-right: 20%;
    margin-left: 0%;
}

.review-slider-review-card-unique-name img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.review-slider-review-text-unique-name {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}

.review-slider-review-author-unique-name {
    font-size: 0.9rem;
    color: #666;
}

.review-slider-view-all-posts-unique-name {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.review-slider-view-all-posts-unique-name:hover {
    background-color: #0056b3;
}