.review-slider-container-unique-name {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    width: 90%;
    margin: 20px auto;
    font-size: 1em;
}

.review-slider-header-unique-name {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
    margin-top: 30px;
    font-size: 1.2em;
}

.review-slider-title-unique-name {
    font-size: 2.2rem;
    margin-bottom: 50px;
    color: #333;
}

.review-slider-view-all-posts-unique-name {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #12100f;
    color: white;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    width: 260px;
}

.review-slider-reviews-container-unique-name {
    width: 70%;
    overflow: hidden;
    height: 360px;
    position: relative;
}

.review-slider-review-wrapper-unique-name {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    animation: continuousScroll 20s linear infinite;
}

.review-slider-review-card-unique-name {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 10px 0;
    position: relative;
}

.review-slider-review-card-unique-name:nth-child(odd) {
    align-self: flex-start;
}

.review-slider-review-card-unique-name:nth-child(even) {
    align-self: flex-end;
}

.review-slider-review-card-unique-name img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.review-slider-review-text-unique-name {
    font-size: 0.8rem;
    font-weight: bold;
    color: #333;
}

.review-slider-review-author-unique-name {
    font-size: 0.9rem;
    color: #666;
}

@keyframes continuousScroll {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-50%);
    }
}

/* Mobile view adjustments */
@media (max-width: 768px) {
    .review-slider-container-unique-name {
        flex-direction: column;
        align-items: center;
    }

    .review-slider-header-unique-name {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .review-slider-title-unique-name {
        font-size: 1.5rem;
    }

    .review-slider-view-all-posts-unique-name {
        font-size: 0.9rem;
        width: 100%;
    }

    .review-slider-reviews-container-unique-name {
        width: 100%;
    }

    .review-slider-review-card-unique-name {
        width: 90%;
        margin: 10px auto;
    }

    .review-slider-review-card-unique-name:nth-child(odd),
    .review-slider-review-card-unique-name:nth-child(even) {
        align-self: center;
    }
}
