/* Banner component CSS */
.banner-container {
    position: relative;
    width: 100%;
    height: 350px; /* Adjust height as needed */
    overflow: hidden;
    margin: 5px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-container .slick-slider {
    width: 90%; /* Adjust width as needed */
    height: 100%; /* Adjust height as needed */
}

.banner-container .slick-slide {
    position: relative;
}

.banner-container .slick-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slick-prev,
.slick-next {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;
}

.slick-prev {
    left: 10px;
}

.slick-next {
    right: 10px;
}

.box1, .box2 {
    position: absolute;
    padding: 20px;
    background: white;
    color: #333; /* Darker text color for better contrast */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-family:'montserrat' /* Example of font family */
}

.box1 {
    top: 20px;
    left: 50px;
    width: 300px;
}

.box2 {
    top: 10px;
    right: 40px;
    width: 300px;
}

/* Button styles */
.button-container {
    display: flex;
    gap: 10px;
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-family:'arial'
}

.individual {
    background-color: #000;
    color: #fff;
}

.organization {
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
}
