.progress-container {
  position: relative;
  margin-top: 60px;
  font-family: 'Roboto', sans-serif;
}

.progress-steps {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.step {
  text-align: center;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
  margin: 10px;
}

.step .icon {
  font-size: 30px;
  color: #dcaa21;
  background-color: #121008;
  border-radius: 50%;
  padding: 20px;
  box-sizing: content-box;
}

.step p {
  margin: 20px -30px 10px;
  font-weight: bold;
  font-size: 20px;
  color: #645e5e;
}

.step span {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}


.arrow {
  margin: 0 10px;
  font-size: 20px;
  color: #000;
}

.underline {
  position: absolute;
  bottom: -65px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ccc;
  z-index: -1;
}

.step:hover::after {
  content: '';
  position: absolute;
  bottom: -76px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 12px;
  background-color: #ffdd00;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
  .progress-steps {
    flex-direction: column;
    align-items: center;
  }

  .step {
    width: 150px;
    height: 150px;
    margin: 20px 0;
  }

  .step .icon {
    font-size: 20px;
    padding: 15px;
  }

  .step p {
    font-size: 16px;
    margin: 10px 0;
  }

  .step span {
    font-size: 12px;
  }

  .arrow {
    font-size: 18px;
    margin: 10px 0;
    transform: rotate(90deg);
  }
}

@media (max-width: 480px) {
  .step {
    width: 120px;
    height: 120px;
  }

  .step .icon {
    font-size: 20px;
    padding: 10px;
  }

  .step p {
    font-size: 10px;
  }

  .step span {
    font-size: 10px;
  }

  .arrow {
    font-size: 16px;
    margin: 5px 0;
    transform: rotate(90deg);
  }

  .underline {
    bottom: -50px;
  }

  .step:hover::after {
    width: 120px;
    height: 8px;
    bottom: -53px;
  }
}