.footer {
    background-color: #3e4246;
    color: #ffffff;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
    text-align: center;
}

.footer-section {
    margin: 10px;
    flex: 1 1 200px;
}

.contact {
    max-width: 300px;
}

.footer-logo {
    width: 150px;
    margin-bottom: 20px;
}

.footer-section h4 {
    font-size: 32px;
    margin-bottom: 15px;
    font-weight: 600;
}

.quick-links {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1px;
}

.quick-links ul {
    list-style: none;
    padding: 0;

    columns: 2; /* Adds two columns for quick links */
    column-gap: 10px;
    text-align: left;
    margin-left: 250px;
}

.quick-links ul li {
    margin-bottom: 8px;
    font-size: 14px;
    color: #ffffff;
}

.quick-links ul li:hover {
    text-decoration: underline;
}

.contact p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
}

.contact .icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.social-media {
    display: flex;
    justify-content: center;
    margin: auto;
}

.social-media .icon {
    width: 35px;
    height: 35px;
    margin-right: 15px;
    transition: transform 0.3s ease, color 0.3s ease;
    color: #ffffff;
}

.social-media .icon:hover {
    transform: scale(1.2);
}

.social-media .fa-facebook:hover {
    color: #1877f2;
}

.social-media .fa-instagram:hover {
    color: #e1306c;
}

.social-media .fa-x-twitter:hover {
    color: #010000;
}

.social-media .fa-linkedin:hover {
    color: #0077b5;
}

.social-media .fa-youtube:hover {
    color: #ff0000;
}

.footer-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 2px solid #f8f8f8;
    padding-top: 20px;
}

.footer-bottom ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-bottom ul li {
    margin: 10px 20px;
}

@media (max-width: 768px) {
    .footer-content {
        text-align: center;
        flex-direction: column;
        margin-left: 10px;
    }

    .footer-section {
        margin-bottom: 20px;
    }

    .footer-bottom {
        flex-direction: column;
        padding-top: 20px;
    }

    .footer-bottom ul li {
        margin-bottom: 10px;
    }

    .quick-links {
        grid-template-columns: 1fr;
        text-align: center;
        margin-left: -200px;
    }
    .footer-h4 {
        margin-left: 200px;
    }
}
