.archeobyte-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.archeobyte-tech-feature-image img
{
    width: 40%;
    height: 10%;
    border-radius: 20px;
}
.archeobyte-back-link {
    margin-top: 20px;
    text-align: left;
}

.archeobyte-title {
    font-size: 2.5rem;
    color: #68217a;
    margin-bottom: 10px;
}

.archeobyte-description {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 20px;
}

.archeobyte-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}

.archeobyte-video {
    margin-right: 20px;
}

.archeobyte-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.archeobyte-dotnet,
.archeobyte-csharp {
    margin-bottom: 20px;
}

.archeobyte-subtitle {
    color: #68217a;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.archeobyte-paragraph {
    font-size: 1rem;
    color: #333;
    margin-bottom: 10px;
}

.archeobyte-link {
    color: #68217a;
    text-decoration: none;
}

.archeobyte-link:hover {
    text-decoration: underline;
}

.archeobyte-application-models {
    margin-top: 40px;
    text-align: center;
}

.archeobyte-application-models h2 {
    font-size: 2rem;
    color: #68217a;
}

.archeobyte-models-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.archeobyte-model {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 22%;
    box-sizing: border-box;
    transition: background 0.3s, border 0.3s;
}

.archeobyte-model:hover {
    background: #f0f0f0;
    border-color: #ccc;
}

.archeobyte-model h3 {
    font-size: 1.2rem;
    color: #68217a;
    margin-bottom: 10px;
}

.archeobyte-model p {
    font-size: 1rem;
    color: #333;
}

.archeobyte-tech-features-container {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 20px;
    font-family: Arial, sans-serif;
}

.archeobyte-tech-feature-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    height: 90%;
}

.archeobyte-tech-feature-text {
    max-width: 45%;
}

.archeobyte-tech-feature-text h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.archeobyte-tech-feature-text p {
    font-size: 1rem;
    margin-bottom: 10px;
}