.custom-container {

  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
  margin-top:  20px;
  display: flex;
  align-items: center;
   justify-content: space-between;
  width: 100%;
  background-color: #f4f8fb;
}
 .le{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
 }
.custom-heading {
  font-size: 34px;
  font-weight: bold;
  display: block;
  color: #123456; 
  margin-bottom: 10px;
  text-align: left;
}

.custom-subheading {
  font-size: 14px;
  color: #123456; 
  margin-top: 20px;
  margin-bottom: 40px;
}

.custom-badges img {
  margin: 0 10px; 
  height: 180px; 
} 

.custom-cards {
  display: flex;
  justify-content: space-around;
  position: relative; 
}

.custom-card {
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow: visible; 
  width: 45%; 
  height: 450px; 
  margin: 20px;
  padding: 20px;
  position: relative; 
  z-index: 1; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.custom-card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  position: relative;
}

.custom-image {
  position: absolute;
  top: -100px; 
  height: 150px; 
  margin-right: 100px;
  z-index: 2; 
}

.custom-card-header span {
  font-size: 20px;
  font-weight: bold;
  color: #0a2b4b; 
  margin-left: 110px; 
  font-style :italic
}

.custom-card-body {
  text-align: left;
  flex-grow: 1;
}

.custom-card-tag {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.custom-card-tag span {
  background-color: #272ac3;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  color: white;
  font-weight: bold;
}

.custom-card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #3d5c7b;
}

.custom-card-info {
  margin-bottom: 20px;
}

.custom-card-info span {
  display: block;
  margin-bottom: 5px;
  color: #ff6600;
}

.custom-card-button {
  background: #272b2f;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%; 
  max-width: 200px; 
  align-self: center; 
}

.custom-card-link {
  display: block;
  text-align: center;
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}
