@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

.custom-headbar {
  height: 40px !important;
  background-color: black;
  margin-bottom: 0;
}

.custom-headbar .custom-brand {
  color: white !important;
  font-size: 0.8em;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  text-decoration: none;
  margin-right: 20px;
  position: relative;
}

.custom-headbar .custom-brand:hover {
  color: #dddddd !important;
}

.hover-underline::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  left: 0;
  background: #fff;
  transition: width 0.3s ease;
}

.hover-underline:hover::after,
.default-underline::after {
  width: 100%;
}
@media (max-width: 992px) {
  .custom-headbar {
    height: auto !important;
    padding: 10px 0;
  }

  .custom-headbar .custom-brand {
    font-size: 0.6em;
    margin-right: 0;
    display: block;
    text-align: center;
  }

  .custom-headbar .custom-brand + .custom-brand {
    margin-top: 10px;
  }
}