@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.custom-navbar {
  display: flex;
  justify-content: flex-start;
  height: 70px;
  /* background: linear-gradient(135deg, #081daa, #0b518a, #4c6fe1, #02225f, #6f0adc); */
  /* background: linear-gradient(135deg, #cf352e, #018749, #e4d00a, #0066b2); */
  /* background: linear-gradient(135deg, #cf352e, #004c99, #018749, #6699cc, #e4d00a, #336699, #0066b2, #003366); */
   background: linear-gradient(135deg, #3a80ec, #4c6fe1, #0229bf, #080b6c,#61039b,#6f0adc); 





  background-size: 400% 400%;
  animation: color-shift 30s ease infinite;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 3px 5px 5px #424c8e;
}

@keyframes color-shift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.custom-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbar-brand img {
  height: 70px;
  width: 70px;
  z-index: 1;
  margin-left: 20px;
}

.navbar-nav .nav-link {
  color: #ffffff;
  font-size: 0.9em;
  font-weight: bold;
  position: relative;
  margin-right: 30px;
  margin-left: 32px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.3s ease;
}

.navbar-nav .nav-link:hover {
  transform: scale(1.1);
  color: #ffffff;
}

.navbar-nav .nav-link:hover::after {
  width: 100%;
}

.custom-dropdown {
  background-color: white;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeInDropdown 0.3s ease-out;
}

.custom-dropdown .dropdown-item {
  color: rgb(18, 18, 18);
  font-weight: bold;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  transition: background-color 0.3s ease;
}

.custom-dropdown .dropdown-item:hover {
  background-color: #f0f0f0;
}

@keyframes fadeInDropdown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.programs-link {
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

.programs-link:hover {
  color: #ffffff;
}

.programs-link .arrow-icon {
  color: #fff;
  margin-left: 5px;
}

.dropdown-toggle::after {
  display: none;
}
