@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.custom-navbar {
  display: flex;
  justify-content: space-between;
  height: 90px;
  /* background: linear-gradient(135deg, #e0eff3, #b4b7c1, #9b9ea5, #bcbcc2, #dedce0, #e7e4e9); */
  background-color: rgba(229, 230, 235, 0.573);
  background-size: 400% 400%;
  animation: color-shift 30s ease infinite;
  font-family: 'Roboto', sans-serif;
  z-index: 1000; /* Ensure navbar is in front */
}

@keyframes color-shift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.custom-container-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbar-brand img {
  height: 80px;
  width: 80px;
  z-index: 1001; /* Ensure logo is in front */
  margin-left: 20px;
}

.navbar-toggler {
  margin-right: 20px;
  z-index: 1001; /* Ensure toggler is in front */
}

.navbar-nav {
  flex-direction: row;
}

.navbar-nav .nav-link {
  color: black;
  font-size: 0.9em;
  font-weight: bold;
  position: relative;
  margin-right: 30px;
  margin-left: 8px;
  transition: transform 0.1s ease, color 0.1s ease;
}

.navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  font-weight: bold;
  transition: width 0.1s ease;
}

.navbar-nav .nav-link:hover {
  transform: scale(1.1);
  color: #ffffff;
}

.navbar-nav .nav-link:hover::after {
  width: 100%;
}

.custom-dropdown {
  background-color: white;
  width: 120px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeInDropdown 0.3s ease-out;
  z-index: 1002; /* Ensure dropdown is in front */
  position: relative;
}

.custom-dropdown .dropdown-item {
  color: rgb(18, 18, 18);
  font-weight: bold;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20px 0 20px;
  transition: background-color 0.3s ease;
  background-color: white; /* Ensure background is white */
}

.custom-dropdown .dropdown-item:hover {
  background-color: #f0f0f0;
}

@keyframes fadeInDropdown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.programs-link {
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

.programs-link:hover {
  color: #ffffff;
}

.programs-link .arrow-icon {
  color: #fff;
  margin-left: 5px;
}

.dropdown-toggle::after {
  display: none;
}

/* Media Queries */
@media (max-width: 992px) {
  .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    position: absolute;
    top: 90px;
    left: 0;
    background-color: white;
    z-index: 1001;
  }

  .navbar-nav .nav-link {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
    padding: 10px 20px;
    color: black;
    background-color: white;
  }

  .custom-container-nav {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-collapse {
    z-index: 1001; /* Ensure collapse menu is in front */
  }
}

@media (max-width: 576px) {
  .navbar-brand img {
    height: 60px;
    width: 60px;
    margin-left: 10px;
  }

  .navbar-nav .nav-link {
    font-size: 0.8em;
  }

  .custom-dropdown .dropdown-item {
    font-size: 0.8em;
  }
}
