/* progress.css */

.progress-container {
  position: relative;
  margin: 0 80px;
  /* Combine left and right margin */
}

.progress-steps {
  display: flex;
  align-items: center;
}

.step {
  text-align: center;
  flex: 1;
    /* Allow flex items to grow */
    min-width: 150px;
}

.step .icon {
  font-size: 40px;
  /* Adjust based on your icon size */
  color: #dcaa21;
  /* Adjust based on your preferred color */
}

.step p {
  margin: 40px 20px 10px;
  font-size: 20px;
}

.step span {
  font-size: 14px;
  color: #666;
}

.underline-innovate {
  position: absolute;
  bottom: -62px;
  /* Adjust this value as needed */
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ccc;
  z-index: -1;
}

.arrow {
  margin: 0 10px;
  font-size: 20px;
  color: #000;
}

.highlight-progress {
  background-color: #ffdd00;
  padding: 0 5px;
}

@media (min-width: 768px) {
  .progress-steps {
    flex-wrap: nowrap;
    /* Prevent wrapping for larger screens */
  }

  .arrow {
    display: block;
    /* Show arrows for larger screens */
  }
}

@media (max-width: 767px) {
  .progress-container {
    margin: 0 20px;
    /* Adjust margin for smaller screens */
  }

  .step .icon {
    font-size: 80%;
    /* Adjust icon size for smaller screens */
  }

  .step p {
    font-size: 10px;
    /* Adjust font size for better readability on mobile */
  }
}

@media (max-width: 480px) {
  .progress-container {
    margin: 0 10px;
    /* Adjust margin for very small screens */
  }

  .step .icon {
    font-size: 85px;
    /* Adjust icon size for very small screens */
  }

  .step p {
    font-size: 12px;
    /* Adjust font size for better readability on very small screens */
  }
}