/* progress.css */

.progress-container {
  position: relative;
  margin: 0 80px; /* Combine left and right margin */
}

.progress-steps {
  display: flex;
  align-items: center;
}

.step {
  text-align: center;
  flex: 1; /* Allow flex items to grow */
  min-width: 150px;
  position: relative;
}

.step .icon {
  font-size: 40px; /* Base size for larger screens */
  color: #dcaa21; /* Adjust based on your preferred color */
  background-color: #000; /* Circle background */
  border-radius: 50%; /* Make it circular */
  padding: 20px; /* Space around icon for the circle */
  display: inline-block; /* Ensure circle wraps around icon */
  color: #fff; /* Icon color inside the circle */
}

.step p {
  margin: 20px 10px 10px; /* Adjust margins */
  font-size: 18px; /* Base size for larger screens */
}

.step span {
  font-size: 14px;
  color: #666;
}

.underline-innovate {
  position: absolute;
  bottom: -62px; /* Adjust this value as needed */
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ccc;
  z-index: -1;
}

.arrow {
  margin: 0 10px;
  font-size: 20px;
  color: #000;
}

.highlight-progress {
  background-color: #ffdd00;
  padding: 0 5px;
}

@media (min-width: 768px) {
  .progress-steps {
    flex-wrap: nowrap; /* Prevent wrapping for larger screens */
  }

  .arrow {
    display: block; /* Show arrows for larger screens */
  }
}

@media (max-width: 767px) {
  .progress-container {
    margin: 0 20px; /* Adjust margin for smaller screens */
  }

  .step .icon {
    font-size: 70px !important ; /* Increase icon size for smaller screens */
    padding: 30px; /* Increase padding to enlarge the circle */
  }

  .step p {
    font-size: 20px !important;
     /* Increase font size for better readability */
  }
}

@media (max-width: 480px) {
  .progress-container {
    margin: 0 10px; /* Adjust margin for very small screens */
    background-color: #f0f4ff;

  }

  .step .icon {
    font-size: 80px; /* Further increase icon size */
    padding: 35px; /* Further increase padding to enlarge the circle */
  }

  .step p {
    font-size: 22px; /* Further increase font size for better readability */
  }
}
